
body {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif!important;
}


/*2000+全球师资 100%欧美外教 */
#home_teacher {
    padding-top: 75px;
    padding-bottom: 100px;
    color: #fff;
}
h4.subtitle {
    position: relative;
    margin-bottom: 20px;
    color: #666;
    text-align: center;
    line-height: 30px;
}
#home_teacher .titem, #home_teacher .tmore {
    position: relative;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px gray;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 5px #f6f792;
}

#home_teacher .titem div.tname.right {
    right: 25px;
    text-align: right;
}
#home_teacher .titem div.tname {
    position: absolute;
}
#home_teacher .titem div.tname.left {
    left: 25px;
    text-align: left;
}
#home_teacher .titem div.tname {
    position: absolute;
}
#home_teacher .tmore {
    display: block;
    min-height: 200px;
    line-height: 30px;
    padding-top: 45px;
    color: #fff;
    background-color: #eb7085;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    opacity: .75;
}
h2.btitle {
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 38px;
    color: #00a080;
    font-weight: 100;
}
